.back{
    background-image:linear-gradient( #f8682f 10%, #ff9a44 90%);
    
}
.preg{
    background-image:linear-gradient(  #fc6076 90%);
    color: #000000;
}

.tachar{
    text-decoration: line-through;
}

.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.nos{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:linear-gradient( #f8682f 10%, #ff9a44 90%);
}

.tri{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:linear-gradient( #ff9a44 10%,  #f8682f 90%);
}

@media screen and (min-width: 768px) {
    .img{
        width: 500px;
    }
}

@media screen and (max-width: 768px) {
    .img{
        width: 400px;
    }
}

@media screen and (max-width: 568px) {
    .img{
        width: 300px;
    }
}

a:link {
    color: black;
}

a:visited {
    color: #f8682f;
}
  
a:hover {
    color: #ff9a44;
}
  
a:active {
    color: #ff9a44;
}

/*
.pie{
    height: 100vh;
    width: 100vh;
}
*/